.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  font-size: 1.4rem;
}

.controlsWrapper {
  display: flex;
  justify-content: center;
}
